# PlanAhead Generated IO constraints

NET "clk_12" IOSTANDARD = LVCMOS25;

# PlanAhead Generated physical constraints

NET "clk_12" LOC = P43;
# NET "blinker_o" LOC = P44;

NET "v_sync_physout" LOC = P36;
NET "h_sync_physout" LOC = P37;

NET "red_physout[0]" LOC = P50;
NET "red_physout[1]" LOC = P52;
NET "green_physout[0]" LOC = P56;
NET "green_physout[1]" LOC = P57;
NET "blue_physout[0]" LOC = P61;
NET "blue_physout[1]" LOC = P62;

NET "uart_tx" LOC = P72;
NET "uart_rx" LOC = P73;

NET "clk_12" CLOCK_DEDICATED_ROUTE = FALSE;
PIN "DCM_SP_inst.CLKIN" CLOCK_DEDICATED_ROUTE = FALSE;
